/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.container-tablet {
  width: 85%;
  margin: 0 auto;
}
.container-desktop {
  width: 70%;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 2em;
  background-color: black;
}
.container {
  padding: 1%;
  font-family: 'Hepta Slab', serif;
  background-color: black;
}
@media (min-width: 760px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 70%;
  }
}
.container header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1em;
  border-bottom: 2px inset black;
}
@media (min-width: 760px) {
  .container header {
    flex-direction: column;
  }
}
.container header .personal-info {
  text-align: center;
  width: 100%;
}
@media (min-width: 760px) {
  .container header .personal-info {
    display: flex;
    flex-direction: column;
  }
}
.container header .personal-info strong {
  display: inline-block;
  font-weight: bold;
  font-size: 1.1em;
  padding-top: 0.25em;
}
.container header .personal-info .name {
  font-size: 2em;
  padding: 0.5em 0em;
}
.container header .other-info {
  display: none;
}
.container header .other-info a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease;
}
@media (min-width: 760px) {
  .container header .other-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .container header .other-info a:hover {
    color: #461212;
    border-bottom: 0.1em solid #461212;
    text-shadow: 2px 2px 2px #111;
  }
}
.container main {
  background-color: white;
}
.container main .align-left {
  float: left;
  margin-right: 20px;
}
.container main .align-right {
  float: right;
  margin-left: 20px;
}
.container main .align-bottom.slide-in {
  transform: translateY(100%);
}
.container main .slide-in {
  transition: all 0.5s;
}
.container main .align-left.slide-in {
  transform: translateX(-120%) scale(0.95);
}
.container main .align-right.slide-in {
  transform: translateX(120%) scale(0.95);
}
.container main .slide-in.active {
  transform: translateX(0%) translateY(0%) scale(1);
}
.container main .title {
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size: 2.6rem;
  margin: 1em 0em;
}
.container main .about-me {
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.4em;
}
.container main .about-me strong {
  font-family: 'Bree Serif', serif;
}
.container main .about-me a {
  color: black;
}
@media (min-width: 760px) {
  .container main .about-me {
    font-size: 1.8em;
    line-height: 1.8em;
  }
}
.container main .projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  border-bottom: 2px inset black;
}
.container main .projects .project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 10em;
  border: 1px solid black;
  padding: 1em;
  font-size: 1.8em;
  margin: 0.5em 0em;
}
@media (760px) {
  .container main .projects .project {
    font-size: 2em;
  }
}
.container main .projects .project a {
  color: black;
  font-weight: bold;
}
.container main .education-and-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3em;
  line-height: 1.8em;
  padding: 0% 1%;
  padding-bottom: 1em;
  border-bottom: 2px inset black;
}
.container main .education-and-skills .wrapper {
  display: flex;
  justify-content: space-between;
}
.container main .education-and-skills .wrapper .education {
  width: 45%;
}
.container main .education-and-skills .wrapper .education .school {
  display: flex;
  flex-direction: column;
}
.container main .education-and-skills .wrapper .education .school .school-name {
  font-weight: 800;
  border-bottom: 0.17em solid black;
}
.container main .education-and-skills .wrapper .education .school .field-of-study {
  font-family: 'Raleway', sans-serif;
}
.container main .education-and-skills .wrapper .skills {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Righteous', cursive;
  flex-wrap: wrap;
  border: 0.005em solid black;
}
.container main .education-and-skills .wrapper .skills .skill {
  width: 34%;
  text-align: center;
  vertical-align: middle;
  padding-top: 10%;
  margin: 0 auto;
}
@media (min-width: 760px) {
  .container main .education-and-skills .wrapper .skills .skill {
    padding-top: 4%;
  }
}
.container main .experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 1%;
  font-size: 1.6em;
  border-bottom: 2px inset black;
}
.container main .experience .jobs {
  width: 100%;
}
.container main .experience .jobs .job {
  width: 100%;
  border: 1px solid black;
  padding: 0% 3%;
  margin: 1em 0em;
}
.container main .experience .jobs .job .job-description .descriptor {
  list-style: square;
  list-style-position: inside;
}
.container main .activities {
  width: 100%;
  border-bottom: 2px inset black;
  margin-bottom: 2em;
}
.container main .activities .hobbies {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6em;
  padding-bottom: 1.3em;
}
.container main .activities .hobbies .hobby {
  text-align: center;
  padding: 0.25em 0em;
}
.container main .contact {
  padding: 0% 1%;
}
.container main .contact form {
  display: flex;
  flex-direction: column;
}
.container main .contact form a {
  text-align: center;
  color: black;
}
.container main .contact form input {
  margin: 0.5em 0em;
  height: 2.6em;
}
.container main .contact form .client-info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container main .contact form .client-info input {
  width: 49%;
}
.container main .contact button {
  width: 60%;
  margin: 0 auto;
  background: none;
  border: 0.15em solid black;
  font-family: 'Righteous', cursive;
  font-size: 1.3em;
  margin-top: 0.5em;
}
@media (min-width: 760px) {
  .container main .contact button {
    width: 40%;
  }
}
@media (min-width: 1000px) {
  .container main .contact button {
    width: 25%;
  }
  .container main .contact button:hover {
    background-color: #065499;
    color: white;
    text-shadow: 1px 1px 1px #111;
  }
}
.container main .contact .call-me {
  display: inline-block;
  font-size: 1.6em;
  padding: 3%;
  font-family: 'Inconsolata', monospace;
}
.container footer {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container footer a {
  color: white;
  padding: 5%;
}
